@import url('https://fonts.googleapis.com/css2?family=Antonio:wght@500&family=League+Spartan:wght@100..900&display=swap');


:root{
    --color-white:#FFFFFF;
    --color-dark:#070724;
    --color-hover:#38384F;
    --color-light:#838391;
    --color-mercury:#419EBB;
    --color-venus:#EDA249;
    --color-earth:#6F2ED6;
    --color-mars:#D14C32;
    --color-jupiter:#D83A34;
    --color-saturn:#CD5120;
    --color-uranus:#1EC2A4;
    --color-neptune:#2D68F0;

}
*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}
.logo{
    font-family: "Antonio", sans-serif;
    font-size: 28px;
    font-weight: 500;
    letter-spacing: -1.05px;
}
h1{
    font-family: "Antonio", sans-serif;
  font-size: 80px;
  line-height: 103px;
  font-weight: 500;
}
h2{
    font-family: "Antonio", sans-serif;
    font-size: 40px;
    line-height: 52px;
    font-weight: 500;
    letter-spacing: -1.5px;
}
h3, button{
    font-family: "League Spartan", sans-serif;
    font-size: 12px;
    line-height: 25px;
    font-weight: 700;
    letter-spacing: 2.6px;
}
h4{
    font-family: "League Spartan", sans-serif;
    font-size: 11px;
    line-height: 25px;
    font-weight: 700;
    letter-spacing: 1px;
}
body{
    display: flex;
    flex-direction: column;
    background-color: #070724;
    background-image: url(./assets/background-stars.svg);
    font-family: "League Spartan", sans-serif;
    font-size: 14px;
    line-height: 25px;
    font-weight: 400;
    color: var(--color-white);
    
}
.header{
    display: grid;
    grid-template-columns: 1fr 1fr;
    height: fit-content;
margin: 15px 30px;
}
.nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    
}
.nav-color{

    height: 2px;
    border-radius: 1px;
   width: 100%;
   margin-top: -30px;
   margin-bottom:30px ;
    content: " ";}
.nav a{
    text-decoration: none;
    color: var(--color-light);
}

.nav li{
    display: inline;
    width: fit-content;
}
hr{
    height: 0.5px;
    border:1px solid var(--color-light);
}

.content{
    /* max-width: 1100px; */
    align-self: center;
    display: grid;
   grid-template-columns: repeat(12,65px);
   grid-template-rows: repeat(12,60px);
   gap: 0.75em 1.8em;
   margin: 30px;
}

.img-holder{
    grid-area: 3/1/10/9;
    display: grid;
    grid-template-columns: repeat(9,1fr);
    grid-template-rows: repeat(9,1fr);
    align-items: center;
    justify-items: center;
}
.img-holder object{
   justify-self: center;
    grid-area: 1/4/5/7;
}
.img-holder img{
    grid-area: 4/4/8/7;
}
.content-holder{
    grid-area: 2/9/7/13;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(5,1fr);

}
#title{
    grid-area: 1/1/2/5;
    margin-bottom: 30px;
}
.content-holder div{
    grid-area:2/1/6/5 ;
}


.source{
    margin-top: 30px;
    color: var(--color-light);
}
a{
    font-size: 14px;
    font-weight: 700;
    color: var(--color-light);
}
.button-holder{
    grid-area: 7/9/10/13;
}

.button-holder ol{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
}
.button-holder button{
    width: 100%;
    text-align: left;
}
.button-holder span{
    padding: 0px 30px;
    color: lightgray;
}

.summary-holder{
    grid-area: 11/1/13/13;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    
}
.summary-holder> div{
    border: 1px solid var(--color-light);
    width: 255px;
    padding: 20px;
    display: flex;
    flex-direction: column;
}
.summary-holder> div> h4{
    color: var(--color-light);
}
.hidden{
    display: none;
}

button{
    width:350px;
    height: 48px;
    background-color: var(--color-dark);
    border:1px solid var(--color-light);
    font-family: "League Spartan", sans-serif;
    font-size: 12px;
    line-height: 25px;
    font-weight: 700;
    letter-spacing: 2.57px;
    color: var(--color-white);
}
button:hover:not(.active){
    background-color: var(--color-hover);
    border-color: var(--color-hover);
}

.bg-mercury{
    background-color: var(--color-mercury);
    border-color: var(--color-mercury);
}
.bg-venus{
    background-color: var(--color-venus);
    border-color: var(--color-venus);
}
.bg-earth{
    background-color: var(--color-earth);
    border-color: var(--color-earth);
}
.bg-mars{
    background-color: var(--color-mars);
    border-color: var(--color-mars);
}
.bg-jupiter{
    background-color: var(--color-jupiter);
    border-color: var(--color-jupiter);
}
.bg-saturn{
    background-color: var(--color-saturn);
    border-color: var(--color-saturn);
}
.bg-uranus{
    background-color: var(--color-uranus);
    border-color: var(--color-uranus);
}
.bg-neptune{
    background-color: var(--color-neptune);
    border-color: var(--color-neptune);
}
/* tabs */
@media (min-width: 768px) and (max-width: 1140px) {
    h1{
        font-size: 48px;
        line-height: normal;
    }
    h2{
        font-size:24px;
        letter-spacing: -0.9px;
    }
    h3, button{
        font-size: 9px;
        letter-spacing: 1.93px;
    }

    h4{
       font-size: 8px;
       line-height: 16px;
       letter-spacing: 0.73px; 
    }
    body{
        font-size: 11px;
        line-height: 22px;
    }
    a{
        font-size: 12px;
    }

    .header{
        display: grid;
        grid-template-columns: none;
        grid-template-rows: 1fr 1fr;
        height: fit-content;
        margin: 0;;
    }
    .logo{
        margin: 20px 0px;
        justify-self: center;
    }
    .nav{
        margin: 0px 20px;
    }
    .content{
        grid-template-columns: repeat(12,48px);
        grid-template-rows: repeat(12,60px);
        gap: 12px 10px;
       margin: 30px;
    }
    .img-holder{
        grid-area: 1/1/6/13;
    }
    
    .content-holder{
        grid-area: 7/1/11/7;
    }
    .button-holder{
        grid-area: 8/8/11/13;
        align-self: start;
    }
    .button-holder ol{
        justify-content: center;
        gap: 12px;
    }
    .summary-holder{
        grid-area: 11/1/13/13;
        gap: 10px;
        height: fit-content;
    }
}
/* phones */
@media (max-width: 480px) {
    body {
        background-color: red;
    }
}